{% macro render_field(field) %}
  {{ field.label }}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    {% for error in field.errors %}
      <div class="text-danger">{{ error }}</div>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro filter(i) %}
<div class="listing_wrapper">
    <span>Seller: <b>{{ i.get_seller_name() }}</b></span>
    <br>
    <img src='{{i.get_displaypic()}}' width="250px" height="250px">
    <br>
    <span>Name: <b>{{ i.get_name() }}</b></span>
    <br>
    <span>Price: <b>${{ i.get_price() }}</b></span>
    <br>
    <span>Quantity: <b style="color:red">{{ i.get_quantity() }}</b></span>
    <br>
    <p><a href="/listingPage/{{i.get_listingID()}}" class="btn btn-warning">View</a></p>
</div>
{% endmacro %}
