{% from "includes/_formHelper.html" import render_field %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<nav class="navbar">

    <div class="title"><a href="/">Pepestore</a></div>

    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>

    <div class="navbar-links">
        <ul>
            <li><a href="/">Home</a></li>

            <li><a href="/FAQ">FAQ</a></li>

            {% if 'userID' in session %}
            <li><a href="/createUserImages">Request a Listing</a></li>
            <li><a href="/allListing">Available Listings</a></li>

            {% if session['status'] == 'Admin' or session['status'] == 'Owner' %}
            <div class="dropdown">
                <li><a class="nav-items" href="#">Admin&nbsp;<i class="fa fa-caret-down"></i></a></li>

                <div class="dropdown-content">
                    <li><a href="/pendingListing">Pending Listing</a></li>
                    <li><a href="/createFAQ">Create FAQ</a></li>
                    <li><a href="/manageFAQ">Manage FAQ</a></li>
                    <li><a href="/retrieveUsers">Retrieve Users</a></li>
                    <li><a href="/retrieveDelivery">Retrieve Delivery Records</a></li>
                </div>
            </div>
            {% endif %}

            <li><a href="/AllChats"><i class="fas fa-comment fa-lg"></i></a></li>

            <div class="dropdown">
            <li><a class="nav-items" href="#"><img style="width:27px; height:27px;" src="{{session['profpic']}}">&nbsp;{{session['username']}}&nbsp;<i class="fa fa-caret-down"></i></a></li>

            <div class="dropdown-content">
                <li><a href="/userProfile/{{session['userID']}}/">Profile</a></li>
                <li><a href="/editUser/{{session['userID']}}/">Profile Settings</a></li>
                <li><a href="/manageListing">Manage your Listing</a></li>
                <li><a href="/manageDelivery">Manage Delivery</a></li>
                <li><a href="/OrderHistory">Order History</a></li>
                <li><a href="/analytics">Analytics</a></li>
                <form name="logout" method="POST" action="{{ url_for('home') }}">
                    {{ logout.logout(class="logout_btn") }}
                </form>
            </div>
            </div>
            <li><a href="/Cart"><i class="fas fa-shopping-cart fa-lg"></i></a></li>

            {% else %}
                <li><a class="reglog" href="/allListing">Available Listings</a></li>
                <li><a class="reglog" onclick="openRegister()">Register</a></li>
                <li><a class="reglog" onclick="openLogin()">Login</a></li>
            {% endif %}

        </ul>
    </div>
</nav>

<script>
    function openRegister() {
    document.getElementById("Register").style.display = "flex";
    }
    function closeRegister() {
    document.getElementById("Register").style.display = "none";
    }
    function openLogin() {
    document.getElementById("Login").style.display = "flex";
    }
    function closeLogin() {
    document.getElementById("Login").style.display = "none";
    }
    function openFPW() {
    document.getElementById("password").value = "";
    document.getElementById("Login").style.display = "none";
    document.getElementById("ForgetPassword").style.display = "flex";
    }
    function closeFPW() {
    document.getElementById("ForgetPassword").style.display = "none";
    document.getElementById("email").value = "";
    }
    function returnHome() {
    window.location.href='{{ url_for('createListing') }}'
    }
</script>

{% if alert == "WPW" %}
<style>
#Login{
    display:flex;
}
</style>
{% elif alert == "WEmail" %}
<style>
#ForgetPassword{
    display:flex;
}
</style>
{% elif alert !="" %}
<h1 class="form-popup" id="alert">{{ alert }}</h1>
{% endif %}
<div class="form-popup" id="Register">
  <form class="form-container card w3-animate-top" name="register" method="post">
      <a onclick="closeRegister()" class="closebtn"><i class="fas fa-times fa-2x" style="float:right; cursor:pointer;"></i></a>
      <div class="card-header" style="background-color: white;">
          <h1 class="card-title">Register</h1>
      </div>
      <div class="card-body">
        <div class="form-group">
            <div class="form-group">
            {{ render_field(regform.username, class="form-control") }}
            </div>
            <div class="form-group">
            {{ render_field(regform.email, class="form-control") }}
            </div>
            <div class="form-group">
            {{ render_field(regform.password, class="form-control") }}
            </div>
            {{ regform.register }}
        </div>
      </div>
  </form>
</div>

<div class="form-popup" id="Login">
  <form class="form-container w3-animate-top card" name="login" method="post">
      <a onclick="closeLogin()" class="closebtn"><i class="fas fa-times fa-2x" style="float:right; cursor:pointer;"></i></a>
      <div class="card-header" style="background-color: white;">
          <h1 class="card-title">Login</h1>
      </div>
      <div class="card-body">
          <div class="form-group">
          {{ render_field(logform.username, class="form-control") }}
          </div>
          <div class="form-group">
          {{ render_field(logform.password, class="form-control") }}
          </div>
          {% if alert == "WPW" %}
          <p style="color:red">Wrong Password</p>
          {% endif %}
          <a onclick="openFPW()" style="color:red;cursor:pointer;"><u>Forgot password?</u></a>
          <div class="form-group" style="margin-top:10px;">
          {{ logform.login }}
          </div>
      </div>
  </form>
</div>

<div class="form-popup" id="ForgetPassword">
  <form class="form-container card" name="login" method="post">
      <a onclick="closeFPW()" class="closebtn"><i class="fas fa-times fa-2x" style="float:right; cursor:pointer;"></i></a>
      <div class="card-header" style="background-color: white;">
          <h1>Forget Password</h1>
      </div>
      <div class="card-body">
          <div class="form-group">
              {{ render_field(fpwform.forgetemail, class="form-control") }}
          </div>
          {% if alert == "WEmail" %}
          <p style="color:red">Please enter a valid email</p>
          {% endif %}
          <div class="form-group">
              {{ fpwform.submit }}
          </div>
      </div>
  </form>
</div>

<style>
nav{
    padding:0;
    margin:0;
}

.navbar{
    display: flex;
    justify-content: space-between
    align-items: center;
    background-color:black;
    color:white;
    top:0;
    position:sticky;
    z-index: 1;
}

.title a{
    font-size: 1.5rem;
    margin: .5rem;
    color:white;
    text-decoration:none;
}

.navbar-links ul{
    margin:0;
    padding:0;
    display:flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: .8rem;
    display: block;
}

.dropdown-content li a{
padding:.8rem;
}


.navbar-links li:hover{
    background-color: grey;
}

.toggle-button{
    position:absolute;
    top: 16px;
    right: 16px;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    width:100%;
    height:3px;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px){
    .toggle-button{
        display:flex;
    }

    .navbar-links{
        display:none;
        width:100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start
    }

    .navbar-links ul{
        width:100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links ul li a{
        padding: 5px 16px;
    }

    .navbar-links.active{
        display:flex;
    }
}

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: black;
   min-width: 160px;
   width: 250px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   right:0;
}

.dropdown-content a{
   color: white;

}

.dropdown:hover .dropdown-content{
   display: block;
}

.dropdown-content li:hover{
   background-color: grey;
}

.logout_btn{
   text-align:center;
   width: 100%;
   background-color: red;
   height: 50px;
   border: none;
}

.logout_btn:hover{
background-color:  #ff9999;
}

.form-popup {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 11;
    background-color: rgba(0,0,0,0.5);
}

.form-container {
    height: 35rem;
    width: 35rem;
    padding: 20px 50px 20px 50px;
    background-color: white;
    margin: 10px;
}

.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}


.form-container label {
    float: left;
}

#Login .form-container {
    height: 30rem;
}

.form-container #login, #register, #submit {
    width: 100%;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 45px;
}

#login:hover {
    background-color: #0069d9;
}

.form-container .cancel {
    background-color: red;
}

#alert{
    display:block;
    color:white;
    pointer-events:none;
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
        opacity:1;
        visibility:visible;
    }
    to {
        opacity:0;
        visibility:hidden;
    }
}

.reglog{
    cursor:pointer;
}


</style>

<script>
    const toggleButton = document.getElementsByClassName('toggle-button')[0];
    const navbarLinks = document.getElementsByClassName('navbar-links')[0];

    toggleButton.addEventListener('click', () => {
    navbarLinks.classList.toggle('active');
    });
</script>