{% extends "base.html" %}
{% block title %}Pepestore - All listings{% endblock %}
{% block content %}
{% from "includes/_formHelper.html" import render_field,filter %}
<style>
.container{
display:flex;
margin-left:0;
}

.filter_wrapper{
margin:10px;
}

.form-control{
width:200px;
}

.listing_container{
margin:10px;
}

.listing_wrapper{
display:inline-block;
padding-left: 20px;
margin-left: 10px;
margin-bottom: 15px;
}

.listing_wrapper img{
object-fit: cover;
}
</style>
<!--  {% if count == 0 %}-->
<!--  <p>There are no listings.</p>-->
<!--  {% elif count == 1 %}-->
<!--  <p>There is 1 listing.</p>-->
<!--  {% else %}-->
<!--  <p>There are {{ count }} listings.</p>-->
<!--  {% endif %}-->
<div class="container">
<div class="filter_wrapper">
    <form method="POST">
        {{ render_field(form.filter_type, class="form-control") }}
        <span>Min($)</span><br> <input style="width:100px" type="number">
        <br>
        <span>Max($)</span><br> <input style="width:100px" type="number">
        <br>
        <input type="submit" style="margin-top:30px" class="btn btn-warning" value="Go" name="button">
    </form>
</div>
<div class="listing_container">
{% for id in listingDict %}
{% if selected_category == 'All' %}
{{ filter(listingDict[id]) }}
{% elif listingDict[id].get_category() == selected_category %}
{{ filter(listingDict[id]) }}
{% endif %}
{% endfor %}

</div>
</div>
{% endblock %}