{% extends "base.html" %}
{% block title %}Pepestore - Analytics{% endblock %}
{% block content %}
<style>
  .analytics_container{
  display:flex;
  flex-direction:column;
  margin: 0 2vw;
  }
</style>

<div class="analytics_container">
    <h1 class="display-4" style="display:flex; justify-content:center; align-items:center;">Analytics</h1>
    <br>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    {% if count >=7  %}
    type: 'horizontalBar',
    {% else %}
    type: 'bar',
    {% endif %}
    data: {
        labels : [{% for item in labels %}
                   "{{item}}",
                  {% endfor %}],
        datasets: [{
            label: '{{ legend }}',
            data : [{% for item in values %}
                      {{item}},
                    {% endfor %}],
            backgroundColor: "rgba(123, 239, 178, 1)",
            borderColor: "rgba(123, 239, 178, 1)",
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        title: {
            display: true,
            fontSize: 25,
            text: 'Traffic per Listing'
        }
    }

});
</script>

{% endblock %}
