{% extends "base.html" %}
{% block title %}Pepestore - Create Listing{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class="createListing_container">
  <div style="display:flex; align-items:center; justify-content:center;">
    <h1 class="display-4">Create Listing</h1>
  </div>
  <br>
  <div style="display:flex;">
    <div>
      <img src="{{Img1}}" height="400px" width="400px" id="DisplayImg">
    </div>
    <form method="POST" action="" class="list-info-container">
      {{ render_field(form.name, class="form-control") }}
      {{ render_field(form.price, class="form-control") }}
      {{ render_field(form.description, class="form-control") }}
      {{ render_field(form.category, class="form-control") }}
      {{ render_field(form.quantity, class="form-control") }}
      <input type="submit" value="Submit" class="buttons button_submit"/>
      <a href="/createUserImages"><input type="button" id="button_back" class="buttons button_back" value="Back"></a>
    </form>
  </div>
</div>

<style>
#button_back{
  color:black;
  margin-right:3px
  }

  .button_submit{
  background-color:#007bff;
  }

  .button_submit:hover{
  background-color:#003e80;
  }

  .buttons{
  width: 100px;
  height: 40px;
  border: 0;
  color: white;
  }

  #button_back:hover{
  background-color:#b3b3cc
  }

  #DisplayImg{
    object-fit:cover;
    max-width:100%;
    }

   .createListing_container{
   display:flex;
   margin:0 2vw;
   padding:0;
   flex-direction:column;
   }

   .list-info-container{
   margin-left:3vw;
   }
   .form-control{
   margin-bottom:2vh;
   }
</style>
{% endblock %}
