{% extends "base.html" %}
{% block title %}Pepestore - Upload Your Images{% endblock %}
{% from "includes/_formHelper.html" import render_field %}

{% block content %}
<script>
function deleteImg(){
    var imageno = event.target.id;
    document.getElementById('todelete').value = imageno;
    ImgInput.onchange();
}
</script>
<h1>Upload listing images</h1>

<div id="container">

    <div>
        <div class="wrapper">
            <img class="images" src="{{Img1}}" onerror="this.src='https://matthewsenvironmentalsolutions.com/images/com_hikashop/upload/not-available.png';document.getElementById('1').style.display='none';" height="400" width="400">
            <img class="deleteSign1" src="https://icons-for-free.com/iconfiles/png/512/delete+deny+no+out+sign+out+x+icon-1320196067039321214.png" onclick="deleteImg()" id="1">
        </div>
        <div class="wrapper">
            <img class="images" src="{{Img3}}" onerror="this.src='https://matthewsenvironmentalsolutions.com/images/com_hikashop/upload/not-available.png';document.getElementById('3').style.display='none';" height="400" width="400">
            <img class="deleteSign3" src="https://icons-for-free.com/iconfiles/png/512/delete+deny+no+out+sign+out+x+icon-1320196067039321214.png" onclick="deleteImg()" id="3">
        </div>
    </div>

    <div>
        <div class="wrapper">
            <img class="images" src="{{Img2}}" onerror="this.src='https://matthewsenvironmentalsolutions.com/images/com_hikashop/upload/not-available.png';document.getElementById('2').style.display='none';" height="400" width="400">
            <img class="deleteSign2" src="https://icons-for-free.com/iconfiles/png/512/delete+deny+no+out+sign+out+x+icon-1320196067039321214.png" onclick="deleteImg()" id="2">
        </div>
        <div class="wrapper">
            <img class="images" src="{{Img4}} "onerror="this.src='https://matthewsenvironmentalsolutions.com/images/com_hikashop/upload/not-available.png';document.getElementById('4').style.display='none';" height="400" width="400">
            <img class="deleteSign4" src="https://icons-for-free.com/iconfiles/png/512/delete+deny+no+out+sign+out+x+icon-1320196067039321214.png" onclick="deleteImg()" id="4">
        </div>
    </div>

    <form id="upload-image" method="post" enctype="multipart/form-data" name="form" class="uploadimage">
    <input type="file" name="file" id="ImgInput" accept="image/*" multiple onchange="this.form.submit()">
        <br>
    <button id="submitButton" type='button' onclick="window.location.href='{{ url_for('createListing') }}';">Submit</button>
    <input type="hidden" name="todelete" value="" id="todelete" class="uploadimage">
    </form>

</div>



<style>
    .images {
    object-fit: cover;
    }

    #container{
    display:flex;
    }

    .deleteSign1,.deleteSign2,.deleteSign3,.deleteSign4{
    position:absolute;
    height:30px;
    width:30px;
    left:0;
    cursor: pointer;
    }

    .wrapper{
    position: relative;
    margin:15px;
    }

    #upload-image{
    display:flex;
    align-items: center;
    justify-content: center;
    }

</style>
{% endblock %}
