{% extends "base.html" %}
{% block title %}Pepestore - FAQ{% endblock %}
{% block content %}
<style>
    .faq_container{
    display:flex;
    margin:0 2vw;
    flex-direction:column;
    }

    .faq{
    margin-bottom:3vh;
    box-shadow: 0 0 8px grey;
    padding: 1.5vh 1vw;
    }


</style>
<div class="faq_container">
    <h1 class="display-4" style="display:flex; align-items:center; justify-content:center;">FAQ</h1>
    <br>
    <div class="faq_wrapper">
{% for faq in faqList %}
    <div class="faq">
        <h3>Q.{{ faq.get_question() }}</h3>
        <p style="white-space: pre-wrap;">A.{{ faq.get_answer() }}</p>
    </div>
    {% endfor %}
        </div>
</div>
{% endblock %}
