{% extends "base.html" %}
{% block title %}Pepestore - Home{% endblock %}

{% from "includes/_formHelper.html" import render_field,filter %}
{% block content %}
<style>
.home_container{
}

.listing_container{
padding: 50px 0px;
}

.listing_wrapper{
padding: 10px;
}

.listing_wrapper:hover{
box-shadow: 0 0 8px grey;
}

.listing_wrapper img{
object-fit: cover;
max-width:100%;
width:200px;
height:200px;
}

.hero-image {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(static/banner/city-4279096_1920.jpg);
    min-height: 20em;
    height: 50%;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    color: white;
}

.hero-header{
    align-self: center;
    font-size:50px;
}






</style>

<div class="hero-image">
    <div class="hero-text">
        <h1 class="hero-header">Pepestore</h1>
        <p>Welcome to Pepestore. Have fun.</p>
    </div>
</div>
<br>


<!--    <h5 style="color:red">*All requested listings will be sent to the admin account for approval. Once approved, your listing will be in the 'Available Listings' page.</h5>-->
<!--    <br><br>-->
<!--    <h1>About Pepestore</h1>-->
<!--    <p>Pepestore is an ecommerce site similar to Carousell. However, Carousell has many problems such as scammers and sellers cancelling orders after they have been made.-->
<!--        Hence, Pepestore aims to solve these issues by acting as a 3rd party ‘middleman’. This will allow Pepestore to manage and assure that all the products sold are legitimate and that the product will be delivered.-->
<!--        This is achieved through a system whereby the seller will send his/her product that is to be sold to the company warehouse and send a request for the listing to be approved.-->
<!--        Once an admin approves of the listing , users can chat among themselves to discuss prices and send offers.</p>-->
<!--    <br><br><br>-->
<!--    <h1>How do i start selling on Pepestore?</h1>-->
<!--    <p>1. Register and login.<br>-->
<!--        2. Click on 'Reuqest a Listing' on navbar.<br>-->
<!--        3. Upload a picture of the product you are selling,<br>-->
<!--        4. Enter your product details.<br>-->
<!--        5. Once submitted, your requested listing will be sent to the admin for approval.<br>-->
<!--        6. Once the admin has approve the listing, the listing will be seen by everyone at 'Available Listings' on-->
<!--        navbar.</p>-->

<div class="container">
    <div class="listing_container">
        <h1 style="font-size:2.5rem">Latest Listings</h1>
        <div class="row">
            {% for i in newestLists %}
            <div class="col-12 col-md-6 col-lg-3">
                {{ filter(i) }}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="listing_container">
        <h1 style="font-size:2.5rem">Most Visited Listings</h1>
        <div class="row">
            {% for i in popularLists %}
            <div class="col-12 col-md-6 col-lg-3">
                {{ filter(i) }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
