{% extends "base.html" %}
{% block title %}Pepestore - Home{% endblock %}

{% from "includes/_formHelper.html" import render_field %}
{% block content %}
<div class="hero-image">
  <div class="hero-text">
    <h1 class="hero-header">Pepestore</h1>
    <p>Welcome to Pepestore. We wish you a happy chinese new year. Give me Distinction pls <3</p>
  </div>
</div>

  <br>
    <h2>Newest Listings</h2>

<br>
  <div class="row">
    <div class="col-lg-8 mx-auto">

      <!-- List group-->
      <ul class="list-group shadow">
        {% for i in newestLists %}
        <li class="list-group-item" onclick='window.location.href="/listingPage/{{i.get_listingID()}}"'>
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3 list">
            <div class="media-body order-2 order-lg-1">
              <h4>Seller: <b>{{i.get_seller_name()}}</b></h4>
              <br>
              <h5 class="mt-0 font-weight-bold mb-2">{{ i.get_name() }}</h5>
              <p class="font-italic text-muted mb-0 small">{{ i.get_description() }}</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">${{ i.get_price() }}</h6>
                <h7 class="font-weight-bold my-2">Quantity: {{ i.get_quantity() }}</h7>
              </div>
            </div><img src={{i.get_displaypic()}} width="200" height="200" class="ml-lg-5 order-1 order-lg-2 listings">
          </div>
        </li>
          {% endfor %}
      </ul>
    </div>
  </div>

<style>
.list-group-item {
  cursor:pointer;
}

.listings {
    object-fit: cover;
}

.row{
margin-left:0;
margin-right:0;
margin-bottom: 10%;
}

.hero-image {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(static/banner/banner1.jpg);
    min-height: 20em;
    height: 50%;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    color: white;
}

.hero-header{
    align-self: center;
    font-size:50px;
}

</style>
{% endblock %}
