{% extends "base.html" %}
{% block title %}Pepestore - Home{% endblock %}

{% from "includes/_formHelper.html" import render_field,filter %}
{% block content %}
<div class="hero-image">
  <div class="hero-text">
    <h1 class="hero-header">Pepestore</h1>
    <p>Welcome to Pepestore. Have fun.</p>
  </div>
</div>
<br>

<div class="home_container">
<br><br>
    <h1>Newest Listings</h1>
    <div id="listings_container">

        {% for i in newestLists %}
        {{ filter(i) }}
        {% endfor %}
    </div>
    <br><br><br><br>
    <h1>Most Visited Listings</h1>
    <div id="popular-listing_container">

        {% for i in popularLists %}
        {{ filter(i) }}
        {% endfor %}
    </div>

</div>

<style>
.home_container{
margin-left:2vw;
}

#listings_container,#popular-listing_container{
display:flex;
}
.listing_wrapper{
align: center;
padding:.5vh .5vw;
flex-wrap:wrap;
}

.listing_wrapper:hover{
box-shadow: 0 0 8px grey;
}

.listing_wrapper img{
object-fit: cover;
max-width:100%;
width:200px;
height:200px;
}

.hero-image {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(static/banner/city-4279096_1920.jpg);
    min-height: 20em;
    height: 50%;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    color: white;
}

.hero-header{
    align-self: center;
    font-size:50px;
}

</style>
{% endblock %}
