<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f7fae348ea3144308309ddb96dff854f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet-ant-path@1.1.2/dist/leaflet-ant-path.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_f7fae348ea3144308309ddb96dff854f" ></div>
        
</body>
<script>    
    
            var map_f7fae348ea3144308309ddb96dff854f = L.map(
                "map_f7fae348ea3144308309ddb96dff854f",
                {
                    center: [1.38, 103.8489],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c3dc21af22d248729a37d246ac8a1c1a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f7fae348ea3144308309ddb96dff854f);
        
    
            var marker_cc88dc77aa594434a9fb6a505e30aff3 = L.marker(
                [1.38, 103.8489],
                {}
            ).addTo(map_f7fae348ea3144308309ddb96dff854f);
        
    
        var popup_b3ab96336fa14021a98d767d6a3bee90 = L.popup({"maxWidth": "100%"});

        
            var html_0173782cf5cd4276ad54285f69957f6c = $(`<div id="html_0173782cf5cd4276ad54285f69957f6c" style="width: 100.0%; height: 100.0%;"><strong>PepeStore</strong></div>`)[0];
            popup_b3ab96336fa14021a98d767d6a3bee90.setContent(html_0173782cf5cd4276ad54285f69957f6c);
        

        marker_cc88dc77aa594434a9fb6a505e30aff3.bindPopup(popup_b3ab96336fa14021a98d767d6a3bee90)
        ;

        
    
    
            marker_cc88dc77aa594434a9fb6a505e30aff3.bindTooltip(
                `<div>
                     Pepestore
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_25c08b9cbf7243389bd936831a08fe6e = L.marker(
                [40.7505247, -73.99355027800776],
                {}
            ).addTo(map_f7fae348ea3144308309ddb96dff854f);
        
    
        var popup_4306dad7cb044742bc7de5b84f310dcb = L.popup({"maxWidth": "100%"});

        
            var html_dff1303d206f42b9840f776eced0ce15 = $(`<div id="html_dff1303d206f42b9840f776eced0ce15" style="width: 100.0%; height: 100.0%;">madison square gardens</div>`)[0];
            popup_4306dad7cb044742bc7de5b84f310dcb.setContent(html_dff1303d206f42b9840f776eced0ce15);
        

        marker_25c08b9cbf7243389bd936831a08fe6e.bindPopup(popup_4306dad7cb044742bc7de5b84f310dcb)
        ;

        
    
    
            marker_25c08b9cbf7243389bd936831a08fe6e.bindTooltip(
                `<div>
                     steven lim
                 </div>`,
                {"sticky": true}
            );
        
    
            ant_path_9ad7c9e40d3b499ea23fc07698d7e0a5 = L.polyline.antPath(
              [[1.3790605, 103.8472113], [40.7505247, -73.99355027800776]],
              {"bubblingMouseEvents": true, "color": "#0000FF", "dashArray": [10, 20], "dashOffset": null, "delay": 400, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "hardwareAcceleration": false, "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "paused": false, "pulseColor": "#FFFFFF", "reverse": false, "smoothFactor": 1.0, "stroke": true, "weight": 5}
        ).addTo(map_f7fae348ea3144308309ddb96dff854f);
        
    
            ant_path_9ad7c9e40d3b499ea23fc07698d7e0a5.bindTooltip(
                `<div>
                     In Delivery
                 </div>`,
                {"sticky": true}
            );
        
</script>