<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_40fc87b2b1c048fd9bc89e9c974dee65 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet-ant-path@1.1.2/dist/leaflet-ant-path.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_40fc87b2b1c048fd9bc89e9c974dee65" ></div>
        
</body>
<script>    
    
            var map_40fc87b2b1c048fd9bc89e9c974dee65 = L.map(
                "map_40fc87b2b1c048fd9bc89e9c974dee65",
                {
                    center: [1.38, 103.8489],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ba8ff6b33ce74132ba0070dcc0b468e8 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_40fc87b2b1c048fd9bc89e9c974dee65);
        
    
            var marker_f3c8f8a98d53409584816db63d864b92 = L.marker(
                [1.38, 103.8489],
                {}
            ).addTo(map_40fc87b2b1c048fd9bc89e9c974dee65);
        
    
        var popup_e6082a945b9d42cb94cbee8efd0822fc = L.popup({"maxWidth": "100%"});

        
            var html_93958b6e97704e2d9d25af538a54a255 = $(`<div id="html_93958b6e97704e2d9d25af538a54a255" style="width: 100.0%; height: 100.0%;"><strong>PepeStore</strong></div>`)[0];
            popup_e6082a945b9d42cb94cbee8efd0822fc.setContent(html_93958b6e97704e2d9d25af538a54a255);
        

        marker_f3c8f8a98d53409584816db63d864b92.bindPopup(popup_e6082a945b9d42cb94cbee8efd0822fc)
        ;

        
    
    
            marker_f3c8f8a98d53409584816db63d864b92.bindTooltip(
                `<div>
                     Pepestore
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1b4c9a019fa64c78a19db288f3e5db8b = L.marker(
                [1.3777253, 103.7547056],
                {}
            ).addTo(map_40fc87b2b1c048fd9bc89e9c974dee65);
        
    
        var popup_aecbfa4f40274f8fb63ad27f06a689ff = L.popup({"maxWidth": "100%"});

        
            var html_7f5d6fef32d2407495b9f90b588fcda6 = $(`<div id="html_7f5d6fef32d2407495b9f90b588fcda6" style="width: 100.0%; height: 100.0%;">teck whye lane</div>`)[0];
            popup_aecbfa4f40274f8fb63ad27f06a689ff.setContent(html_7f5d6fef32d2407495b9f90b588fcda6);
        

        marker_1b4c9a019fa64c78a19db288f3e5db8b.bindPopup(popup_aecbfa4f40274f8fb63ad27f06a689ff)
        ;

        
    
    
            marker_1b4c9a019fa64c78a19db288f3e5db8b.bindTooltip(
                `<div>
                     b
                 </div>`,
                {"sticky": true}
            );
        
    
            ant_path_79fc52feb6a448d5ad0f73fab96075aa = L.polyline.antPath(
              [[1.3790605, 103.8472113], [1.3777253, 103.7547056]],
              {"bubblingMouseEvents": true, "color": "#0000FF", "dashArray": [10, 20], "dashOffset": null, "delay": 400, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "hardwareAcceleration": false, "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "paused": false, "pulseColor": "#FFFFFF", "reverse": false, "smoothFactor": 1.0, "stroke": true, "weight": 5}
        ).addTo(map_40fc87b2b1c048fd9bc89e9c974dee65);
        
    
            ant_path_79fc52feb6a448d5ad0f73fab96075aa.bindTooltip(
                `<div>
                     In Delivery
                 </div>`,
                {"sticky": true}
            );
        
</script>