<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_26906fbbcbe246d9aeabaff37fd3c412 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet-ant-path@1.1.2/dist/leaflet-ant-path.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_26906fbbcbe246d9aeabaff37fd3c412" ></div>
        
</body>
<script>    
    
            var map_26906fbbcbe246d9aeabaff37fd3c412 = L.map(
                "map_26906fbbcbe246d9aeabaff37fd3c412",
                {
                    center: [1.38, 103.8489],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_325ecea13c3e46d2b78c17cf84187a5c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_26906fbbcbe246d9aeabaff37fd3c412);
        
    
            var marker_9c72596ccbaf4657add084eedcc78272 = L.marker(
                [1.38, 103.8489],
                {}
            ).addTo(map_26906fbbcbe246d9aeabaff37fd3c412);
        
    
        var popup_4921743f8fdd483192ce630815ae70a3 = L.popup({"maxWidth": "100%"});

        
            var html_cd5233046542477db91f66cf08a55e39 = $(`<div id="html_cd5233046542477db91f66cf08a55e39" style="width: 100.0%; height: 100.0%;"><strong>PepeStore</strong></div>`)[0];
            popup_4921743f8fdd483192ce630815ae70a3.setContent(html_cd5233046542477db91f66cf08a55e39);
        

        marker_9c72596ccbaf4657add084eedcc78272.bindPopup(popup_4921743f8fdd483192ce630815ae70a3)
        ;

        
    
    
            marker_9c72596ccbaf4657add084eedcc78272.bindTooltip(
                `<div>
                     Pepestore
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_da03b1e4a8eb498ab84bf1060a8ba78f = L.marker(
                [1.24894585, 103.83430564159272],
                {}
            ).addTo(map_26906fbbcbe246d9aeabaff37fd3c412);
        
    
        var popup_bdc2ff2df9e74c51968e84d449e4d993 = L.popup({"maxWidth": "100%"});

        
            var html_360259fab39b4996ae36ccd1f3f76ccd = $(`<div id="html_360259fab39b4996ae36ccd1f3f76ccd" style="width: 100.0%; height: 100.0%;">sentosa</div>`)[0];
            popup_bdc2ff2df9e74c51968e84d449e4d993.setContent(html_360259fab39b4996ae36ccd1f3f76ccd);
        

        marker_da03b1e4a8eb498ab84bf1060a8ba78f.bindPopup(popup_bdc2ff2df9e74c51968e84d449e4d993)
        ;

        
    
    
            marker_da03b1e4a8eb498ab84bf1060a8ba78f.bindTooltip(
                `<div>
                     Fang Jun
                 </div>`,
                {"sticky": true}
            );
        
    
            ant_path_fb3017a79d704a908c39ffe4e04e242b = L.polyline.antPath(
              [[1.3790605, 103.8472113], [1.24894585, 103.83430564159272]],
              {"bubblingMouseEvents": true, "color": "#0000FF", "dashArray": [10, 20], "dashOffset": null, "delay": 400, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "hardwareAcceleration": false, "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "paused": false, "pulseColor": "#FFFFFF", "reverse": false, "smoothFactor": 1.0, "stroke": true, "weight": 5}
        ).addTo(map_26906fbbcbe246d9aeabaff37fd3c412);
        
    
            ant_path_fb3017a79d704a908c39ffe4e04e242b.bindTooltip(
                `<div>
                     In Delivery
                 </div>`,
                {"sticky": true}
            );
        
</script>