{% extends "base.html" %}
{% block title %}Delivery Records{% endblock %}
{% block content %}
<h1 class="display-4">Proof Of Delivery</h1>
<div>
<p> Proof Of Delivery for <strong>{{session['username']}}</strong></p>
</div>

<script>
function startTime() {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  var s = today.getSeconds();
  var ampm = h >= 12 ? 'PM' : 'AM';
   h = h % 12;
  h = h ? h: 12;
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('txt').innerHTML =
  "Current Time: " + h + ":" + m + ":" + s  +ampm;
  var t = setTimeout(startTime, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}
</script>


<body onload="startTime()">

<div id="txt"></div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
 $(document).ready(function() {
    refreshTable();
  });

     function refreshTable(){
       $('#MyTable').load('Proof #MyTable', function(){
          setTimeout(refreshTable, 1000);
        });
      }

</script>




<br>


<div>
 <table class="table table-striped" id="MyTable">
 <thead>
 <tr>
 <th>Delivery ID</th>
 <th>Username of seller</th>
 <th>Username of buyer</th>
 <th>Listing ID</th>
 <th>Delivery Address</th>
 <th>Delivery Status</th>
 <th>Order Time</th>
 <th> Delivered Time</th>
 </tr>
 </thead>
 <tbody>
 {% for delivery in deliveryList %}
 {% if delivery.get_username() == session['username'] %}
  {% if delivery.get_status()=='Delivered' or delivery.get_status() == 'Cancelled' %}
 <tr>
 <td>{{ delivery.get_deliveryID() }}</td>
 <td> {{ delivery.get_sellername()}} </td>
 <td>{{ delivery.get_username() }}</td>
 <td onclick="window.location.href='/listingPage/{{ delivery.get_product() }}/'" style="cursor:pointer" id="listingidx">{{ delivery.get_product() }}</td>
 <td>{{ delivery.get_location() }}</td>
 <td>{{delivery.get_status()}}
 {% if delivery.get_status() == "In Delivery" %}
 <img src="/static/icons/indelivery.svg" width="28px" height="28px">
 {% elif delivery.get_status() == "Delivered" %}
 <img src="/static/icons/delivered.svg" width="28px" height="28px">
 {% else %}
 <img src="/static/icons/cancel.svg" width="28px" height="28px">
 {% endif %}
 </td>
  <td>{{delivery.get_time().strftime("%d %B %Y, %I:%M:%S %p") }}</td>

  {% if delivery.get_status() == 'Delivered' %}
  <td>{{delivery.get_estimatedTime().strftime("%d %B %Y, %I:%M:%S %p") }}</td>
  {% else %}
  <td>-</td>
  {% endif %}
  <td>
<a class="btn btn-warning" data-toggle="modal" data-target="#myOutput{{ delivery.get_deliveryID() }} " style="cursor:pointer">Info</a>
  </td>
  <td><a href="/FAQ " class="btn btn-danger">Refund</a></td>
 </tr>
  {% endif %}
 {% endif %}
 {% endfor %}
 </tbody>
 </table>
</div>

{% for delivery in deliveryList %}
 <!-- Modal -->
  <div class="modal fade" id="myOutput{{ delivery.get_deliveryID() }}" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">More Information on Delivery ID {{ delivery.get_deliveryID() }}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <p>First Name: {{ delivery.get_firstName() }} </p>
          <p>Last Name: {{ delivery.get_lastName() }} </p>
           <p>Payment Method: {{ delivery.get_method() }}</p>
          <p>Remarks: {{ delivery.get_remarks() }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
{% endfor %}

<style>
#listingidx:hover{
text-decoration:underline;
color:blue;
}
</style>


{% endblock %}
