{% extends "base.html" %}
{% from "includes/_formHelper.html" import render_field,filter,reviews %}
{% block title %}User Profile{% endblock %}

{% block content %}
<div id="allWrap">
    <div id="banner"><img src="{{Banner}}" id="bannerpic"></div>
    <div id="buttons">
        <img src="{{ProfPic}}" id="ProfPic" height="400" width="400">
        <button id="toggleListing" class="togglebtns" onclick="window.location.href='/userProfile/{{id}}/'">Listing</button>
        <button id="toggleReviews" class="togglebtns" onclick="window.location.href='/userProfile/{{id}}/reviews/'">Reviews</button>
    </div>
    <div class="container">

        <div id="User_container">
            <h2 id="Username">{{ Username }}</h2>
            <div class="rating">
                <p>({{ reviewsamt }})</p>
                <label class = "full" title="Amazing - 5 stars" id="five"></label>
                <label class="half"  title="Very good - 4.5 stars" id="fourhalf"></label>
                <label class = "full"  title="Good - 4 stars" id="four"></label>
                <label class="half"  title="Pretty Good - 3.5 stars" id="threehalf"></label>
                <label class = "full"  title="Not Bad - 3 stars" id="three"></label>
                <label class="half"  title="Decent - 2.5 stars" id="twohalf"></label>
                <label class = "full" title="Not too bad - 2 stars" id="two"></label>
                <label class="half" title="Bad - 1.5 stars" id="onehalf"></label>
                <label class = "full" title="Very Bad - 1 star" id="one"></label>
                <label class="half" title="Horrendous - 0.5 stars" id="half"></label>
                <p>{{userRating}}</p>
            </div>
            <div id="Description">
                <p>{{ Description }}</p>
            </div>
        {% if session['userID'] == id %}
            <button onclick="window.location.href='/editUser/{{id}}/'" id="editprofile" class="btn btn-success">Edit Profile</button>
        {% endif %}
        </div>

        <div id="reviewsWrapper">
            <h1>Reviews</h1>
            <span id="select">
                {% if select == 'all' %}
                <i class="fas fa-circle fa-lg" style="color:red;margin:10px;cursor:pointer;" onclick="window.location.href='/userProfile/{{id}}/reviews/'"> All</i>
                <i class="far fa-circle fa-lg" style="margin:10px;cursor:pointer;" onclick="window.location.href='/userProfile/{{id}}/reviews/sellers/'"> Sellers</i>
                <i class="far fa-circle fa-lg" style="margin:10px;cursor:pointer;" onclick="window.location.href='/userProfile/{{id}}/reviews/buyers/'"> Buyers</i>
                {% elif select == 'sellers' %}
                <i class="far fa-circle fa-lg" style="margin:10px;cursor:pointer;" onclick="window.location.href='/userProfile/{{id}}/reviews/'"> All</i>
                <i class="fas fa-circle fa-lg" style="color:red;margin:10px;cursor:pointer;" onclick="window.location.href='/userProfile/{{id}}/reviews/sellers/'"> Sellers</i>
                <i class="far fa-circle fa-lg" style="margin:10px;cursor:pointer;" onclick="window.location.href='/userProfile/{{id}}/reviews/buyers/'"> Buyers</i>
                {% elif select == 'buyers' %}
                <i class="far fa-circle fa-lg" style="margin:10px;cursor:pointer;" onclick="window.location.href='/userProfile/{{id}}/reviews/'"> All</i>
                <i class="far fa-circle fa-lg" style="margin:10px;cursor:pointer;" onclick="window.location.href='/userProfile/{{id}}/reviews/sellers/'"> Sellers</i>
                <i class="fas fa-circle fa-lg" style="color:red;margin:10px;cursor:pointer;" onclick="window.location.href='/userProfile/{{id}}/reviews/buyers/'"> Buyers</i>
                {% endif %}
            </span>
            <div id="reviews_container">
                {% for i in userReviews %}
                {{ reviews(i) }}
                {% endfor %}
            </div>
        </div>

    </div>
</div>
<style>
#editprofile{
width:150px;
}

#Description{
word-wrap: break-word;
max-width: 250px;
}

#select{
display:flex;
flex-direction:column;
}

.reviewstitle{
display: flex;
flex-direction:row;
}

.reviewsprofpic{
  min-width: 80px;
  max-width: 80px;
  min-height: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  border-radius: 60%;
  object-fit: cover;
}

.reviewslistingpic{
  min-width: 80px;
  max-width: 80px;
  min-height: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviewtext{
  bottom:0;
  margin-top:50px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:0px;
}

.reviewtextpara{
  font-size:110%;
  bottom:0;
  margin-top:53px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:0px;
}

.reviewsfeedback{
  margin-top:10px;
  flex:1;
}
.reviewsfeedback > p{
  margin:0;
}

.container{
display: flex;
flex-direction:row;
margin:0;
}

#reviews_container{
flex-direction:row;
margin-right:10px;
}

#reviewsWrapper{
  position:absolute;
  right:30px;
  top:325px;
  left:330px;
  padding:20px;
  border-radius:30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reviews{
display:flex;
flex-direction:column;
}

#ProfPic{
  position:absolute;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  border-radius: 60%;
  object-fit: cover;
  top:180px;
  left:15px;
  border-width: 5px;
  border-style: solid;
  border-color: white;
}

#User_container{
  width:300px;
  margin-top: 55px;
  display:flex;
  flex-direction:column;
  align-content: flex-start;
}

#Username{
  text-align: left;
}
#bannerpic{
  width:100%;
  height:200px;
  object-fit:cover;
}
#buttons{
  width:100%;
  height:60px;
  text-align:left;
}
#toggleListing{
  margin-left:310px;
}
.togglebtns{
  border:none;
  color:grey;
  padding: 18px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color:white;
  transition: all 0.5s ease-in-out;
}
.togglebtns:hover{
  background-color:rgb(230, 230, 230);
}


/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
  width:190px;
}

.reviewRating{
  border: none;
  float: left;
  width:100%;
}


.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}
.rating > p {
 margin-top:8px;
 top:20px;
 float: right;
 vertical-align: middle;
}
</style>
{% if userRating == 5.0 %}
<style>
    #five { color: #FFD700; }
    #five ~ label { color: #FFD700; }
</style>
{% elif userRating == 4.5 %}
<style>
    #fourhalf { color: #FFD700; }
    #fourhalf ~ label { color: #FFD700; }
</style>
{% elif userRating == 4.0 %}
<style>
    #four { color: #FFD700; }
    #four ~ label { color: #FFD700; }
</style>
{% elif userRating == 3.5 %}
<style>
    #threehalf { color: #FFD700; }
    #threehalf ~ label { color: #FFD700; }
</style>
{% elif userRating == 3.0 %}
<style>
    #three { color: #FFD700; }
    #three ~ label { color: #FFD700; }
</style>
{% elif userRating == 2.5 %}
<style>
    #twohalf { color: #FFD700; }
    #twohalf ~ label { color: #FFD700; }
</style>
{% elif userRating == 2.0 %}
<style>
    #two { color: #FFD700; }
    #two ~ label { color: #FFD700; }
</style>
{% elif userRating == 1.5 %}
<style>
    #onehalf { color: #FFD700; }
    #onehalf ~ label { color: #FFD700; }
</style>
{% elif userRating == 1.0 %}
<style>
    #one { color: #FFD700; }
    #one ~ label { color: #FFD700; }
</style>
{% elif userRating == 0.5 %}
<style>
    #half { color: #FFD700; }
    #half ~ label { color: #FFD700; }
</style>
{% endif %}

{% endblock %}
